/test_wordcloud/output/
/learn-1【子豪兄】你寻找了很久的Python无痛入门教程/6、Python趣味小案例：提取照片EXIF信息/output/
/venv/
/DjangoDemo/
/venv-TYD-3.8/
/venv-TYD-3.9/
/learn-5【本地】TYD_11期/
/learn-4【小鹅通】TYD_2026Agent打造专属工作流(智能体应用实战)/
/test_TYD_4深度学习-物体检测-YOLO实战系列/
/test_TYD_3深度学习模型部署与剪枝优化实例/
