<footer class="p-strip is-dark">
    <div class="row u-position">
       <div class="col-medium-2 col-3">
          <p>&copy; 2024 Quantiota SAS</p>

          <ul class="p-inline-list u-position--bottom">
            <li class="p-inline-list__item">
              <a href="https://x.com/quantiota" class="p-icon--twitter" target="_blank"></a>
            </li>
            <li class="p-inline-list__item">
              <a href="https://github.com/quantiota/AI-Agent-Lab" class="p-icon--github is-dark" target="_blank"></a>
            </li>

            <li class="p-inline-list__item">
               <a href="https://www.youtube.com/@QUANTIOTA" class="p-icon--youtube is-dark" target="_blank"></a>
             </li>
  
          </ul>
       </div>
       <nav class="col-3" aria-label="Footer">
          <ul class="p-list u-no-margin--bottom">
             <li class="p-list__item">
                <a class="is-dark" href="https://github.com/quantiota/AI-Agent-Host" target="_blank">AI Agent Host</a>
             </li>
             <li class="p-list__item">
                <a class="is-dark" href="https://github.com/quantiota/AI-Agent-Lab" target="_blank">AI Agent Lab</a>
             </li>
             <li class="p-list__item">
                <a class="is-dark" href="https://github.com/quantiota/AI-Agent-Farm" target="_blank">AI Agent Farm</a>
             </li>
             <li class="p-list__item">
                <a class="is-dark" href="https://github.com/quantiota/Raspberry-Pi-AI-Agent-Host" target="_blank">Internet Of Things</a>
             </li>
             <li class="p-list__item">
                <a class="is-dark" href="https://github.com/quantiota/AI-Agent-Host/issues" target="_blank">Report a bug</a>
             </li>
          </ul>
    
       </nav>

       <nav class="col-3" aria-label="Footer">
         <ul class="p-list u-no-margin--bottom">
            <li class="p-list__item">
               <a class="is-dark" href="{{ url_for('compliance') }}#privacy-policy-website">Privacy Policy</a>
            </li>

            <li class="p-list__item">
               <a class="is-dark" href="{{ url_for('compliance') }}#cookie-policy-website">Cookie Policy</a>
            </li>
            <li class="p-list__item">
               <a class="is-dark" href="{{ url_for('compliance') }}#privacy-policy-saas">Privacy Policy SaaS</a>
            </li>


            <li class="p-list__item">
               <a class="is-dark" href="{{ url_for('compliance') }}#ai-act-statement">AI Act Statement</a>
            </li>
 
         </ul>
    
      </nav>
    </div>
 </footer>